<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Shorten Link</title>
        <link rel="stylesheet" href="css/common.css" />
        <link rel="stylesheet" href="css/index.css">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
	</head>
	<body>
		<div class="white-box">
			<h1>Shorten Link</h1>
			<form action="/create" method="POST">
				<input type="text" name="url" placeholder="a long url..." required/><button type="submit">
					Shorten!
                </button>
                <input type="text" name="custom" class="custom" placeholder="Custom URL ending (optional)">
			</form> 
		</div>
    </body>
    <a target="_blank" href="https://instagram.com/max.zabarka">
        <i class="fab fa-instagram-square"></i>
      </a>
      <a target="_blank" href="https://github.com/MaxZabarka">
        <i class="fab fa-github"></i>
      </a>
</html>
