<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Shorten Link</title>
        <link rel="stylesheet" href="css/common.css" />
        <link rel="stylesheet" href="css/index.css">
	</head>
	<body>
		<div class="white-box">
			<h1>Shorten Link</h1>
			<form action="/create" method="POST">
				<input type="text" name="url" placeholder="a long url..." required/><button type="submit">
					Shorten!
				</button>
			</form> 
		</div>
	</body>
</html>
