<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invalid Input</title>
    <link rel="stylesheet" href="/css/common.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

</head>
<body>
    <div class="white-box">
        <h1>Invalid Input</h1>
        <p><a href="/">Shorten a link</a></p>
    </div>

</body>
<a target="_blank" href="https://instagram.com/max.zabarka">
    <i class="fab fa-instagram-square"></i>
  </a>
  <a target="_blank" href="https://github.com/MaxZabarka">
    <i class="fab fa-github"></i>
  </a>
</html>