<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("includes/head.ejs",{title:title}) %>
</head>

<body>
    <div class="white-box">
        <h1><%=title%></h1>
        <p><a href="/">Shorten a link</a></p>
    </div>
</body>
<footer>
  <%- include("includes/icons.ejs") %>
</footer>
</html>