<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Link Shortened!</title>
    <link rel="stylesheet" href="/css/common.css" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
    <div class="white-box">
        <h1>Link Shortened!</h1>
        <p>Shortened Link: <br/><a href="<%=key%>" class="url" target="_blank">http://<%=domainPort%>/<%=key%></a></p>
        <p><a href="/">Shorten Another Link</a></p>
    </div>
</body>
<footer><a target="_blank" href="https://instagram.com/max.zabarka"><i class="fab fa-instagram-square"></i></a><a target="_blank" href="https://github.com/MaxZabarka"><i class="fab fa-github"></i></a></footer>

</html>